
.post-toc-empty {
  font-size: 14px;
  color: $grey-dim;
}

.post-toc-wrap { overflow: hidden; }

.post-toc { overflow: auto; }

.post-toc ol {
  margin: 0;
  padding: 0px 0px;
  text-align: left;
  list-style: none;
  font-size: 16px;

  & > ol { padding-left: 0; }

  a {
    @include the-transition();
    transition-property: all;
    color: $sidebar-link-color;
    border: 0;
    font-weight: normal;

    &:hover {
      color: $sidebar-link-hover-color;
      border: 0;
    }
  }
}

.post-toc .nav-item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: if(not jekyll-config('toc.wrap'), nowrap, null);
  line-height: 2.4;
  padding: 0 20px;
}

.post-toc .nav .active {
  background: white;
}

.post-toc .nav .nav-child { display: none; }

.post-toc .nav .active > .nav-child { display: block; }

.post-toc .nav .active-current > .nav-child {
  display: block;
  & > .nav-item { display: block; }
}

.post-toc .nav .active > a {
  color: $sidebar-link-hover-color;
  border-bottom: 0;
}

.post-toc .nav .active-current > a {
  color: $sidebar-link-hover-color;
  font-weight: bold;
  &:hover {
    color: $sidebar-link-hover-color;
  }
}

.nav-link .nav-number {
  padding-right: 4px;
}
