.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;

  width: 0;
  z-index: $zindex-4;
  // box-shadow: inset 2px 0px 15px rgba(0, 0, 0, 0.10);
  background: $sidebar-background-color;
  -webkit-transform: translateZ(0); // http://stackoverflow.com/questions/17079857/position-fixed-broken-in-chrome-with-flash-behind

  /* Safari for macOS & iOS */
  -webkit-backdrop-filter: blur(30px); 
  /* Google Chrome */
  backdrop-filter: blur(30px);

  a {
    color: $sidebar-link-color;
    border-bottom-color: $black-light;
    &:hover { color: $sidebar-link-hover-color; }
  }

  @include tablet() {
    display: none !important;
  }
  @include mobile() {
    display: none !important;
  }
}

.sidebar-inner {
  position: relative;
  padding: 0px;
  padding-top: 110px;
  color: $grey-dark;
  text-align: center;
  transition: 0.5s padding-top;
}

@import "sidebar-toggle";
@import "sidebar-author";
@import "site-state";
@import "sidebar-feed-link";
@import "sidebar-author-links";
@import "sidebar-blogroll";
@import "sidebar-nav";
@import "sidebar-toc";
