<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- done.moe Homepage -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5561611607174812"
     data-ad-slot="5310492966"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<div class="copyright" >
  {% assign current = site.time | date: '%Y' %}
  {% assign since = site.since | downcase %}
  蛋萌 done.moe &copy; {% if site.since and since != current %} {{ since }} - {% endif %}
  <span class="author" itemprop="copyrightHolder"> <a href="{{site.url}}/about/">MZY'S Studio</a>, 2005-{{ 'now' | date: "%Y" }}.</span>　|　<a href="https://done.moe/about/#本站所用技术">感谢</a>
</div>
