{% assign posts = site.posts %}
{% if site.paginate > 0 %}{% assign posts = paginator.posts %}{% endif %}
<style>
  .posts-expand .post-title {
    font-size: 32px;
  }

  @media (max-width: 767px) {
    .posts-expand .post-title {
      font-size: 20px;
      text-align: left;
    }

    .posts-expand .post {
      margin-top: 10px;
    }

    article h2 {
      font-size: 18px;
      margin: 0;
    }
  }

  .post-meta {
    display: none;
  }

  article h2 {
    color: #aaa;
    font-weight: 400;
  }

  .menu .menu-item a:hover {
    background: #222;
    background: linear-gradient(135deg, rgba(255, 245, 179, 0.549), rgb(255, 157, 178));
    color: #fff;
  }
</style>
<section id="posts" class="posts-expand">
  <article class="post post-type- " itemscope itemtype="http://schema.org/Article">
    <h2>最近贴文 · Recent Posts</h2>
  </article>
  {% for post in posts %}
  {% assign is_index = true %}
  {% include _macro/post.html %}
  {% endfor %}
</section>

{% include _partials/pagination.html %}