// Header
// --------------------------------------------------
.header {
  background: rgba(255,255,255,0.8) url(/assets/images/pokemon.png) right center no-repeat; 
  background-size: contain;
  position: fixed;
  width: 100%;
  z-index: 1050;
}
.header-inner {
  padding: 25px 0 28px;
  @include clearfix();

  @include mobile() {
    width: auto;
    //margin-bottom: 50px;
    padding: 10px;
  }
}

.site-meta {
  float: left;
  margin-left: -20px;
  line-height: normal;
  display: none;

  @include mobile() {
    margin-left: 10px;
    display: block;
  }

  .brand {
    padding: 2px 1px;
    background: none;

    @include mobile() { display: block; }
  }

  .logo { display: none; }

  .site-title {
    font-size: 22px;
    font-weight: bolder;

    @include mobile() { 
      line-height: 34px; 
      letter-spacing: 0.2em;
      font-size: 18px;
    }
  }
}


.logo-line-before,
.logo-line-after {
  display: block;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;

  @include mobile() { display: none; }

  i {
    position: relative;
    display: block;
    height: 2px;
    background: $black-deep;
    @include mobile() { height: 3px; }
  }
}

.use-motion {
  .logo-line-before i { left: -100%; }
  .logo-line-after i { right: -100%; }
}
