// Header
// --------------------------------------------------
.header {
  background: rgba(255,255,255,0.8) url(/assets/images/donemoe.png) right center no-repeat; 
  background-size: contain;
  position: fixed;
  width: 100%;
  z-index: 1050;
  box-shadow: 0 1px 12px #00000015;
}
.header-inner {
  padding: 25px 0 30px;
  @include clearfix();

  @include mobile() {
    width: auto;
    //margin-bottom: 50px;
    padding: 10px;
  }
}

.header {
  transition: 1s all;
}

.header-inner {
  transition: 0.5s padding-top, 0.5s padding-bottom;
}

.site-meta {
  float: left;
  margin-left: -20px;
  line-height: normal;
  display: none;

  @include mobile() {
    margin-left: 10px;
    display: block;
  }

  .brand {
    padding: 2px 1px;
    background: none;

    @include mobile() { display: inline; }
  }

  a.site-ins {
    line-height: 35px;
    margin-left: 15px;
    border: none;
    font-size: 20px;
    color: #777;
  }

  .logo { display: none; }

  .site-title {
    font-size: 22px;
    font-weight: bolder;

    @include mobile() { 
      line-height: 34px; 
      font-family: "Cedarville Cursive";
      font-weight: 900;
      font-size: 20px;
      letter-spacing: 0em;
      font-style: normal;
    }
  }
}


.logo-line-before,
.logo-line-after {
  display: block;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;

  @include mobile() { display: none; }

  i {
    position: relative;
    display: block;
    height: 2px;
    background: $black-deep;
    @include mobile() { height: 3px; }
  }
}

.use-motion {
  .logo-line-before i { left: -100%; }
  .logo-line-after i { right: -100%; }
}
