// Menu
// --------------------------------------------------
.site-nav-toggle {
  position: static;
  float: right;
}


.menu {
  float: left;
  margin: 0px 0 0 0;

  @include mobile() {
    margin: 20px 0 0 0;
    padding: 0;
    padding-right: 80px;
  }

  br { display: none; }

  .menu-item {
    margin: 0;
    margin-right: 15px;
    @include mobile() { display: block; }
  }

  .menu-item a {
    padding: 0 10px 0 10px;
    background: none;
    border: none;
    border-radius: 2px;
    transition-property: background;
    font-size: 16px;
    font-weight: 700;
    color: $black-deep;
    letter-spacing: 0.1em;

    @include mobile() {
      text-align: left;
      font-size: 16px;
      line-height: 40px;
      letter-spacing: normal;
    }

    &:hover { 
      background: #555;
      background: linear-gradient(45deg, #0086e1, #ff9db2);
      color: #fff;
    }
  }

  a::before {
      display: none;

      @include mobile() { display: block; }
    }

  @include mobile() { float: none; }
}
