//
// Mist scheme
// =================================================

@import "_base";
@import "outline/outline";
@import "_header";
@import "_logo";
@import "_menu";
@import "_search";
@import "_posts-expanded";
@import "sidebar/sidebar-blogroll";


// Components
// --------------------------------------------------
.btn {
  padding: 0 10px;
  border-width: 2px;
  border-radius: 0;
}

.headband { display: none; }


// Search
// --------------------------------------------------
.site-search {
  position: relative;
  float: right;
  margin-top: 5px;
  padding-top: 3px;

  @include mobile() {
    float: none;
    padding: 0 10px;
  }
}


// Page - Container
// --------------------------------------------------
.container .main-inner {
  @include mobile() { width: auto; }
}


// Page - Post details
// --------------------------------------------------
.page-post-detail {
  .post-title,
  .post-meta { text-align: left; }

  .post-title:before { display: none; }

  .post-meta { 
    margin-bottom: 30px; 
    color: #fff;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    @include mobile() {
      color: #222;
      text-shadow: none;
    }
  }
}

#google_translate_element {
  text-align: right;
  line-height: 40px;
  padding-right: 20px;
  margin-top: 50px;
  border-radius: 6px;
  .goog-te-combo {
    font-size: 12px;
    color: #888;
    border-color: #ccc;
  }
}


// Pagination
// --------------------------------------------------
.pagination {
  margin: 120px 0 0;
  text-align: left;

  @include mobile() {
    margin: 80px 10px 0;
    text-align: center;
  }
}

// Footer
// --------------------------------------------------
.footer {
  margin-top: 80px;
  padding: 10px 0;
  background: $whitesmoke;
  color: $grey-dim;
}
.footer-inner {
  margin: 0 auto;
  text-align: left;

  @include mobile() {
    width: auto;
    text-align: center;
  }
}

// Helpers
// --------------------------------------------------
