{% comment %} post-collapse(post) {% endcomment %}
  <article class="post post-type-{{ post.type | default: 'normal' }}" itemscope itemtype="http://schema.org/Article" {% if route %}route="{{ route }}"{% endif %}>
    <header class="post-header">
      <h2 class="post-title">
        {% if post.link %}{% comment %} Link posts {% endcomment %}
          <a class="post-title-link post-title-link-external" target="_blank" href="{{ post.link }}" itemprop="url">
            {{ post.title | default: post.link }}
            <i class="fa fa-external-link"></i>
          </a>
        {% else %}
          <span class="post-category {{post.categories[0]}}">
            {% if post.categories[0] == 'Blog' %}{{ __.categories.blog }}{% endif %}
            {% if post.categories[0] == 'Night-Tales' %}{{ __.categories.nighttales }}{% endif %}
            {% if post.categories[0] == 'Cheat-Sheet' %}{{ __.categories.cheatsheet }}{% endif %}
            {% if post.categories[0] == 'Tutorial' %}{{ __.categories.tutorial }}{% endif %}
            {% if post.categories[0] == 'Chinese-with-Ike' %}{{ __.categories.chinesewithike }}{% endif %}
            {% if post.categories[0] == 'Photography' %}{{ __.categories.photography }}{% endif %}
            {% if post.categories[0] == 'News' %}{{ __.categories.news }}{% endif %}
            {% if post.categories[0] == 'Game' %}{{ __.categories.game }}{% endif %}
          </span>
          <a class="post-title-link" href="{{ post.url | site.url }}" itemprop="url">
          {{ post.title | default: __.post.untitled }}
          </a>
        {% endif %}
      </h2>
    </header>
  </article>
