{% if site.alipay or site.wechatpay %}
  <div style="padding: 10px 0 40px 0; margin: 0px auto; width: 90%; text-align: center;">
    <script>var reward_clicked = false;</script>
    <div>{{ site.reward_comment }}</div>
    {% if site.likes.enable %}
    <button id="rewardButton" href="#" onclick=" ikeLike('{{ page.url }}');">
      <span>赞<em id="rewardText">...</em></span>
    </button>
    {% endif %}
    <button id="likes" href="#" onclick="rewardDialog()">
      <span>打赏</span>
    </button>
  </div>
  <script>
  {% if site.likes.enable %} ikeGetLikes('{{ page.url }}'); {% endif %}
  </script>
{% endif %}
