{% if site.alipay or site.wechatpay %}
  <div style="padding: 10px 0; margin: 0px auto; width: 90%; text-align: center;">
    <script>var reward_clicked = false;</script>
    <div>{{ site.reward_comment }}</div>
    <button id="rewardButton" disable="enable" onclick="var qr = document.getElementById('QR'); var rewardButton = document.getElementById('rewardButton'); if (qr.style.display === 'none') {qr.style.display='block';} {% if site.likes.enable %} ikeLike('{{ page.url }}'); {% endif %}">
      <span>喜欢<em id="rewardText">...</em></span>
    </button>
    <p style="font-size:16px; color:#666; margin-top:8px; margin-bottom: 0">「觉得本文有用请点击」</p>
    <div id="QR" style="display: none;">
      {% if site.wechatpay %}
        <div id="wechat" style="display: inline-block">
          <img id="wechat_qr" src="{{ site.wechatpay }}" alt="{{ site.author }} WeChat Pay"/>
          <p>微信识别二维码为我打赏</p>
        </div>
      {% endif %}
      {% if site.alipay %}
        <div id="alipay" style="display: inline-block">
          <img id="alipay_qr" src="{{ site.alipay }}" alt="{{ site.author }} Alipay"/>
          <p>使用支付宝扫描上方二维码打赏</p>
        </div>
      {% endif %}
    </div>
  </div>
  <script>
  {% if site.likes.enable %} ikeGetLikes('{{ page.url }}'); {% endif %}
  </script>
{% endif %}
