.site-nav-toggle {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
  @include mobile() {
    display: block;
  }

  button {
    margin-top: 2px;
    padding: 9px 10px;
    background: transparent;
    border: none;
  }
}

.site-nav {
  @include mobile() {
    display: none;
    margin: 0 -10px;
    padding: 2px 10px;
    clear: both;
  }
  @include tablet() { display: block !important; }
  @include desktop() { display: block !important; }
}
