@mixin post-reward {
  #rewardButton, #likes {
      cursor: pointer;
      border: 0;
      outline: 0;
      padding: 0;
      margin: 0 10px 30px 10px;
      letter-spacing: normal;
      text-transform: none;
      text-indent: 0px;
      text-shadow: none;
      background: none;
  }
  #rewardButton span, #likes span {
      color: #fff;
      border-radius: 6px;
      font-weight: 400;
      font-style: normal;
      font-variant: normal;
      font-stretch: normal;
      font-size: 20px;
      line-height: 20px;
      font-family: $font-family-base;
      background: #6e487e;
      padding: 10px 40px 13px 40px;
  }

  #likes span {
    background: #ff8844;
  }

  #rewardButton span:hover{
      background: #876397;
  }

  #likes span:hover {
    background: #ff6c16;
  }

  #rewardButton span em{
    font-size: 14px;
    font-style: normal;
    line-height: 28px;
    padding-left:10px;
  }
  #rewardQR{
    opacity: 1;
    animation-name: fadeInReward;
    @include mobile() {
      animation-name: fadeInRewardMobile;
    }
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    height: 200px;
    @include mobile() {
      height: 400px;
    }
  }
  @keyframes fadeInReward {
    0% {
      opacity: 0;
      height: 0px;
    }
    50% {
      opacity: 0;
      height: 200px;
    }
    100% {
      opacity: 1;
      height: 200px;
    }
  }
  @keyframes fadeInRewardMobile {
    0% {
      opacity: 0;
      height: 0px;
    }
    50% {
      opacity: 0;
      height: 400px;
    }
    100% {
      opacity: 1;
      height: 400px;
    }
  }
  #rewardQR a{
      border:0;
  }
  #rewardQR p{
    font-size: 15px;
    font-weight: bold;
    margin-top: 0px;
  }
  #rewardQR img{
      width: 150px;
      max-width: 70%;
      margin: 0em 1.5em 0 1.5em;
  }
  #rewardIcon {
    display: inline-block;
    @include mobile() {
      display: none;
    }
  }
//   #wechat:hover p{
//       animation: roll 0.1s infinite linear;
//       -webkit-animation: roll 0.1s infinite linear;
//       -moz-animation: roll 0.1s infinite linear;
//   }
//   #alipay:hover p{
//       animation: roll 0.1s infinite linear;
//       -webkit-animation: roll 0.1s infinite linear;
//       -moz-animation: roll 0.1s infinite linear;
//   }
  @include keyframes(roll) {
      from {
        @include transform(rotateZ(30deg));
      }
      to {
        @include transform(rotateZ(-30deg));
      }
  }
}
