// TODO: Refactor.

@media (max-width: 767px) {
  .posts-collapse {
    margin: 0 20px;

    .post-title, .post-meta {
      display: block;
      width: auto;
      text-align: left;
    }
  }
}

.posts-collapse {
  position: relative;
  z-index: $zindex-1;

  margin-left: $posts-collapse-left;
  @include mobile() { margin: 0 20px; }

  .collection-title {
    position: relative;
    margin: 60px 0;

    small { color: $grey; margin-left: 5px; }
  }

  .post { margin: 30px 0; }

  .post-header {
    position: relative;
    @include the-transition();
    &::before {
      position: absolute;
      left: 0;
      top: 12px;
      width: 6px;
      height: 6px;
      margin-left: -4px;
      background: $grey;
      @include circle();
      border: 1px solid white;
      @include the-transition();
      transition-property: background;
    }
  }

  .post-header:hover {
    border-bottom-color: $grey-dim;

    &::before { background: $black-deep; }
  }

  .post-meta {
    position: absolute;
    font-size: 12px;
    left: 20px;
    top: 5px;
  }

  .post-comments-count { display: none; }

  .post-title {
    font-size: 32px;
    @include mobile() { font-size: 24px; }
    font-weight: 100;
    line-height: inherit;

    &::after {
      margin-left: 3px;
      opacity: 0.6;
    }

    a {
      color: #444;
      border-bottom: none;
    }
  }

  .post-title-link {
    display: inline;
    position: relative;
    color: #444;
    border-bottom: none;
    line-height: 1.5;
    vertical-align: middle;
    letter-spacing: -.04em;
    padding: 10px 10px 8px 10px;
    margin-left: 15px;
    @include mobile() { 
      margin-left: 0;
    }
    font-weight: 700;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      bottom: 0;
      left: 0;
      margin-top: 2px;
      background: linear-gradient(270deg, #0086e1, #ff9db2);
      visibility: hidden;
      @include transform(scaleX(0));
      @include the-transition();
    }

    &:hover::before {
      visibility: visible;
      @include transform(scaleX(1));
    }
    
  }
}
