@mixin post-reward {
  #rewardButton {
      cursor: pointer;
      border: 0;
      outline: 0;
      padding: 0;
      margin: 0 0 30px 0;
      letter-spacing: normal;
      text-transform: none;
      text-indent: 0px;
      text-shadow: none;
      background: none;
  }
  #rewardButton span {
      display: inline-block;
      width: 80px;
      height: 40px;
      border-radius: 100%;
      color: #fff;
      font-weight: 700;
      font-style: normal;
      font-variant: normal;
      font-stretch: normal;
      font-size: 22px;
      line-height: 22px;
      font-family: $font-family-base;
      background: rgb(110, 72, 126);
      padding-top: 22px;
      padding-bottom: 20px;
  }
  #rewardButton span:hover{
      background: rgb(135, 99, 151);
  }
  #rewardButton span em{
    display: block;
    font-size: 14px;
    font-style: normal;
    line-height: 28px;
  }
  #QR{

  }
  #QR a{
      border:0;
  }
  #QR p{
    font-size: 15px;
    font-weight: bold;
    margin-top: 0px;
  }
  #QR img{
      width: 150px;
      max-width: 70%;
      margin: 0em 2em 0 2em;
  }
//   #wechat:hover p{
//       animation: roll 0.1s infinite linear;
//       -webkit-animation: roll 0.1s infinite linear;
//       -moz-animation: roll 0.1s infinite linear;
//   }
//   #alipay:hover p{
//       animation: roll 0.1s infinite linear;
//       -webkit-animation: roll 0.1s infinite linear;
//       -moz-animation: roll 0.1s infinite linear;
//   }
  @include keyframes(roll) {
      from {
        @include transform(rotateZ(30deg));
      }
      to {
        @include transform(rotateZ(-30deg));
      }
  }
}
