.posts-expand .post-title {
  font-size: 30px;
  text-align: left;
  word-break: break-word;
  font-weight: 200;

  @include mobile() {
    font-size: 28px;
  }
}
.posts-expand .post-title-link {
  display: inline-block;
  position: relative;
  color: $black-deep;
  border-bottom: none;
  line-height: 1.5;
  vertical-align: top;
  letter-spacing: -.04em;
  padding: 10px 10px 8px 10px;
  margin-left: $font-size-base;
  @include mobile() { margin-left: 0 }
  margin-bottom: 5px;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    margin-top: 2px;
    background: linear-gradient(90deg, rgb(31, 95, 233), rgb(223, 34, 112));
    visibility: hidden;
    @include transform(scaleX(0));
    @include the-transition();
  }

  &:hover::before {
    visibility: visible;
    @include transform(scaleX(1));
  }

  .fa { font-size: 16px; }
}
