//
// Variables
// =================================================



// Colors
// colors for use across theme.
// --------------------------------------------------

$whitesmoke   : rgba(240, 240, 240, 0.6);
$gainsboro    : #eee;
$gray-lighter : #ddd;
$grey-light   : #ccc;
$grey         : #bbb;
$grey-dark    : #999;
$grey-dim     : #666;
$black-light  : #555;
$black-dim    : #333;
$black-deep   : #222;
$red          : #e91e63;
$blue-bright  : #c5cae9;
$blue         : #0077ff;
$blue-deep    : #262a30;
$orange       : #fc6423;
$abby-purple  : #876397;
$skin-light   : #f7f2ee;
$skin-deep    : #dbccbf;



// Scaffolding
// Settings for some of the most global styles.
// --------------------------------------------------

// Global text color on <body>
$text-color                   : black;

// Global link color.
$link-color                   : $black-light;
$link-hover-color             : $black-deep;
$link-decoration-color        : $grey-light;
$link-decoration-hover-color  : $black-deep;

// Global border color.
$border-color                 : $grey-light;

// Background color for <body>
$body-bg-color                : white;

// Selection
$selection-bg                 : $blue-deep;
$selection-color              : white;



// Typography
// Font, line-height, and elements colors.
// --------------------------------------------------


@function get_font_family($config) {
  $custom_family : jekyll-config('font.' + $config + '.family');
  @return if(type-of($custom_family) == 'string', $custom_family, null);
}

// Font families.
$font-family-chinese      : "PingFang SC", "Microsoft YaHei";

$font-family-base         : $font-family-chinese, sans-serif;
$font-family-base         : if(get_font_family('global'), (get_font_family('global'), $font-family-chinese, sans-serif), $font-family-base);

$font-family-logo         : $font-family-base;
$font-family-logo         : if(get_font_family('logo'), (get_font_family('logo'), $font-family-base), $font-family-logo);

$font-family-headings     : $font-family-base;
$font-family-headings     : if(get_font_family('headings'), (get_font_family('headings'), $font-family-base), $font-family-headings);

$font-family-posts        : $font-family-base;
$font-family-posts        : if(get_font_family('posts'), (get_font_family('posts'), $font-family-base), $font-family-posts);

$font-family-monospace    : consolas, Menlo, $font-family-chinese, monospace;
$font-family-monospace    : if(get_font_family('codes'), (get_font_family('codes'), consolas, Menlo, $font-family-chinese, monospace), $font-family-monospace);

$font-family-icons        : 'FontAwesome';


// Font Weight
$font-weight-lighter      : 200;
$font-weight-light        : 300;
$font-weight-normal       : 400;
$font-weight-bold         : 600;
$font-weight-bolder       : 700;


// Font size
$font-size-base           : 20px;
$font-size-small          : $font-size-base - 4px;
$font-size-smaller        : $font-size-base - 6px;
$font-size-large          : $font-size-base + 2px;
$font-size-larger         : $font-size-base + 4px;


// Headings font size
$font-size-headings-step    : 2px;
$font-size-headings-base    : 36px;
$font-size-headings-small   : $font-size-headings-base - $font-size-headings-step;
$font-size-headings-smaller : $font-size-headings-small - $font-size-headings-step;
$font-size-headings-large   : $font-size-headings-base + $font-size-headings-step;
$font-size-headings-larger  : $font-size-headings-large + $font-size-headings-step;

// Global line height
$line-height-base           : 2;
$line-height-code-block     : 1.6;  // Can't be less than 1.3



// Z-index master list
// --------------------------------------------------
$zindex-bottom  : -1;
$zindex-1       : 1010;
$zindex-2       : 1020;
$zindex-3       : 1030;
$zindex-4       : 1040;
$zindex-5       : 1050;



// Table
// --------------------------------------------------
$table-width                    : 100%;
$table-border-color             : $gray-lighter;
$table-font-size                : 14px;
$table-content-alignment        : left;
$table-content-vertical         : middle;
$table-th-font-weight           : 700;
$table-cell-padding             : 8px;
$table-cell-border-right-color  : $gainsboro;
$table-cell-border-bottom-color : $gray-lighter;
$table-row-odd-bg-color         : #f9f9f9;
$table-row-hover-bg-color       : $whitesmoke;



// Code & Code Blocks
// --------------------------------------------------
$code-font-family               : $font-family-monospace;
$code-font-size                 : 16px;
$code-font-size                 : if(type-of(jekyll-config('font.codes.size')) == 'number', jekyll-config('font.codes.size') + px, $code-font-size);
$code-border-radius             : 3px;
$code-foreground                : #f363ab;
$code-background                : white;



// Buttons
// --------------------------------------------------

$btn-font-weight                : normal;

$btn-default-radius             : 0;
$btn-default-bg                 : $black-deep;
$btn-default-color              : white;
$btn-default-font-size          : 14px;
$btn-default-border-width       : 2px;
$btn-default-border-color       : $black-deep;
$btn-default-hover-bg           : white;
$btn-default-hover-color        : $blue;
$btn-default-hover-border-color : $blue;



// Pagination
// --------------------------------------------------

$pagination-border              : $gainsboro;

$pagination-link-bg             : transparent;
$pagination-link-color          : $link-color;
$pagination-link-border         : $gainsboro;

$pagination-link-hover-bg       : transparent;
$pagination-link-hover-color    : $link-color;
$pagination-link-hover-border   : $black-deep;

$pagination-active-bg           : $grey-light;
$pagination-active-color        : white;
$pagination-active-border       : $grey-light;



// Layout sizes
// --------------------------------------------------

$main-desktop                   : 960px;
$main-desktop-large             : 1200px;

$content-desktop                : 700px;
$content-desktop-large          : 900px;
$content-desktop-padding        : 40px;

$sidebar-desktop                : 240px;

$footer-height                  : 80px;

$gap-between-main-and-footer    : 100px;



// Headband
// --------------------------------------------------
$headband-height                : 3px;
$headband-bg                    : $black-deep;



// Section Header
// Variables for header section elements.
// --------------------------------------------------

$head-bg                        : transparent;

// Site Meta
$site-meta-text-align           : center;
$brand-color                    : white;
$brand-hover-color              : white;
$brand-bg                       : $black-deep;

$logo-font-size                 : 20px;
$logo-font-size                 : if(type-of(jekyll-config('font.logo.size')) == 'number', jekyll-config('font.logo.size') + px, $logo-font-size);

$site-subtitle-color            : $grey-dark;
$subtitle-font-size             : 13px;
$subtitle-color                 : $grey-dark;

// Menu
$menu-link-border               : transparent;
$menu-link-hover-border         : $black-deep;



// Posts Expand
// --------------------------------------------------
$posts-expand-title-font-weight : $font-weight-normal;
$post-copyright : (
  margin: 2em 0 0,
  padding: .5em 1em,
  bg: #f9f9f9,
  border: (
    width: 3px,
    style: solid,
    color: #ff1700
  )
);


// Posts Collpase
// --------------------------------------------------
$posts-collapse-left            : 55px;
$posts-collapse-left-mobile     : 5px;

$read-more-color                : white;
$read-more-font-size            : 14px;
$read-more-bg-color             : $abby-purple;
$read-more-border-radius        : 0;




// Sidebar
// Variables for sidebar section elements.
// --------------------------------------------------
$sidebar-nav-color                    : $blue-deep;
$sidebar-nav-hover-color              : $abby-purple;
$sidebar-highlight                    : $blue-deep;
$sidebar-background-color             : $whitesmoke;
$sidebar-link-color                   : $blue-deep;
$sidebar-link-bottom-color            : $whitesmoke;
$sidebar-link-hover-color             : $abby-purple;

$site-author-image-padding            : 2px;
$site-author-image-width              : 96px;
$site-author-image-height             : auto;
$site-author-image-border-width       : 0px;
$site-author-image-border-color       : $skin-deep;

$site-author-name-margin              : 5px 0 0;
$site-author-name-color               : $black-deep;
$site-author-name-align               : center;
$site-author-name-weight              : normal;

$site-description-font-size           : 14px;
$site-description-color               : $grey-dark;
$site-description-margin-top          : 5px;
$site-description-align               : center;

$site-state-align                     : center;
$site-state-item-count-font-size      : 18px;
$site-state-item-count-color          : inherit;
$site-state-item-name-font-size       : 13px;
$site-state-item-name-color           : inherit;
$site-state-item-border-color         : $black-dim;

$toc-link-color                       : $grey-dark;
$toc-link-border-color                : $black-light;
$toc-link-hover-color                 : $grey-light;
$toc-link-hover-border-color          : $grey-light;
$toc-link-active-color                : $sidebar-highlight;
$toc-link-active-border-color         : $sidebar-highlight;
$toc-link-active-current-color        : $sidebar-highlight;
$toc-link-active-current-border-color : $sidebar-highlight;


// Components
// --------------------------------------------------

// Back to top
$b2t-opacity                  : 1;
$b2t-position-bottom          : -100px;
$b2t-position-bottom-on       : 19px;
$b2t-position-right           : 30px;
$b2t-font-size                : 12px;
$b2t-color                    : white;
$b2t-bg-color                 : $black-deep;

// full-image
$full-image-width             : 110%;
$full-image-margin-horizontal : -5%;
$full-image-margin-vertical   : 25px;

//  .post-expand .post-eof
//  In Muse scheme, margin above and below the post separator
$post-eof-margin-top          : 80px;  //  or 160px for more white space
$post-eof-margin-bottom       : 60px;  //  or 120px for less white space


// Iconography
// Icons SVG Base64
// --------------------------------------------------

// blockquote-center icon
$center-quote-left            : '../images/quote-l.svg';
$center-quote-right           : '../images/quote-r.svg';

// Pace progress bar
// --------------------------------------------------
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #8e59e2;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 3px;
}

.pace .pace-progress-inner {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #d8215e, 0 0 5px #d8215e;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -moz-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  -o-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

.pace .pace-activity {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 19px;
  right: 120px;
  width: 14px;
  height: 14px;
  border: solid 2px transparent;
  border-top-color: #6c3eec1a;
  border-left-color: #6c3eec1a;
  border-radius: 10px;
  -webkit-animation: pace-spinner 400ms linear infinite;
  -moz-animation: pace-spinner 400ms linear infinite;
  -ms-animation: pace-spinner 400ms linear infinite;
  -o-animation: pace-spinner 400ms linear infinite;
  animation: pace-spinner 400ms linear infinite;
}

@-webkit-keyframes pace-spinner {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes pace-spinner {
  0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes pace-spinner {
  0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes pace-spinner {
  0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes pace-spinner {
  0% { transform: rotate(0deg); transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}

.en {
  border-top: 1px dashed #ccc;
  padding-top: 12px;
  display: none;
}

.highlight a {
  color: white;
}
.highlight a:hover {
  color: $blue-bright;
  border-bottom-color: $blue-bright;
}

#email_subscriber {
  display: block; background: #fff; margin: 20px auto; width: 80%; text-align: center;
  max-width: 460px;
  label {
    font-size: 16px;
  }
  div {
    margin-top: 5px;
  }
  p {
    margin: 5px 0;
  }
  form {
    border: 0px;
    padding: 5px;
    text-align: center;
  }
  input {
    width: 260px;
    height: 30px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  input[type="submit"] {
    height: 40px;
    width: auto;
    background: #222222;
    font-size: 16px;
    color: white;
    border: 0px;
    padding: 0 15px;
    &:hover {
      background: #361290;
    }
  }
}

@mixin mobile() {
  @media (max-width: 767px) {
    @content;
  }
}

.title_bg {
  width: 100%;
  height: 350px;
  position: absolute;
  background-size: cover;
  background-color: none;
  background-repeat: no-repeat;
  background-position: center;
  @include mobile() {
    height: 200px;
    top: 60px;
  }
}

.ggad_header, .ggad_footer {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}